<aside class="flex w-full flex-col gap-3 py-3 margin-px-1 lg:hidden">
  <h3>On vous recommande</h3>

  <div class="flex flex-row gap-12 overflow-x-scroll">
    {% for product in collections.all.products | limit: 5 | sort_by: "best-selling" %}
      {% if product.available %}
        {% form 'product', product %}
          <div class="flex flex-col gap-3">
            <div class="flex gap-3">
              <a href="{{ product.url }}">
                <img
                  src="{{ product.images[0] | image_url }}"
                  alt="{{ product.title | escape }}"
                  class="aspect-square bg-neutral-mid-grey object-cover"
                  height="80"
                  width="80"
                >
              </a>

              <div class="flex flex-col gap-1">
                <h3 class="font-medium">{{ product.title | escape }}</h3>
                <p>{{ product.price | money }}</p>
              </div>
            </div>

            <div class="flex gap-2">
              <select
                class="cursor-pointer border border-neutral-mid-grey bg-transparent px-2 py-1 text-neutral-dark-grey hover:border-neutral-black hover:text-neutral-black"
                name="id"
              >
                {%- for variant in product.variants -%}
                  <option
                    value="{{ variant.id }}"
                    {% unless variant.available %}
                      disabled
                    {% endunless %}
                  >
                    Taille: {{ variant.title }}
                  </option>
                {%- endfor -%}
              </select>

              <button
                type="submit"
                class="flex justify-between gap-2 border border-neutral-mid-grey px-2 py-1 text-neutral-dark-grey hover:border-neutral-black hover:text-neutral-black"
              >
                <p>Ajouter</p>
                <p>{{ product.price | money }}</p>
              </button>
            </div>
          </div>
        {% endform %}
      {% endif %}
    {% endfor %}
  </div>
</aside>
