{% assign filters_button_text = 'products.filters.title' | t %}

{% capture filters_drawer_content %}
<form class="space-y-6 p-2" id="filters-form">
  {%- for filter in collection.filters -%}
    <details class="pb-2">
      <summary class="flex cursor-pointer items-center justify-between font-medium">
      <div class="flex flex-row items-center gap-2">
        <span>{{ filter.label }}</span>
        {%- if filter.active_values.size > 0 -%}
          <span class="flex h-[14px] w-[14px] items-center justify-center rounded-full bg-neutral-black text-center text-[8px] text-white">
            {{- filter.active_values.size -}}
          </span>
        {%- endif -%}
        </div>

        {% render 'icon-accordion' %}
      </summary> 

      <div class="mt-2 space-y-3">
        {%- if filter.active_values.size > 0 -%}
            <a href="{{ filter.url_to_remove }}" class="link-underline text-[12px] text-red-500">{{- 'buttons.all_clear' | t -}}</a>
        {%- endif -%}

        {%- case filter.type -%}
          {%- when 'list' -%}
            <ul class="flex flex-wrap gap-2">
              {%- for filter_value in filter.values -%}
                <li x-data="{ isActive: {{ filter_value.active | json }}, isAvailable: {{ filter_value.count == 0 }} }">
                  <div>
                    <input
                      type="checkbox"
                      id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                      name="{{ filter.param_name }}"
                      value="{{ filter_value.value }}"
                      class="sr-only"
                      x-model="isActive"
                      x-bind:checked="isActive"
                    > 

                    <div 
                      class="flex cursor-pointer items-center justify-between border p-2 transition-colors"
                      :class="{
                        'border-neutral-light-grey': !isActive,
                        'border-neutral-black': isActive,
                        'opacity-50 line-through': !isAvailable
                      }"
                      @click="isActive = !isActive; document.getElementById('Filter-{{ filter.param_name }}-{{ forloop.index }}').click();"
                    >
                      <span>{{ filter_value.label }}</span>
                      {% if filter_value.swatch.color %}
                        <span 
                          :class="{ 'border border-neutral-light-grey': '{{ filter_value.swatch.color }}' === '#ffffff' }"
                          style="background-color: {{ filter_value.swatch.color }};" 
                          class="ml-2 h-[6px] w-[6px] rounded-full"
                        ></span>
                      {% endif %}
                    </div>
                  </div>
                </li>
              {%- endfor -%} 
            </ul>

          {%- when 'price_range' -%}
            <div class="flex items-center space-x-2">
              <span>{{ cart.currency.symbol }}</span>
              <input
                type="number"
                name="{{ filter.min_value.param_name }}"
                id="Filter-{{ filter.min_value.param_name }}"
                value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                placeholder="Min"
                class="w-24 rounded border border-gray-300 px-2 py-1 focus:ring focus:ring-blue-300"
              >
              <span>-</span>
              <input
                type="number"
                name="{{ filter.max_value.param_name }}"
                id="Filter-{{ filter.max_value.param_name }}"
                value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                placeholder="Max"
                class="w-24 rounded border border-gray-300 px-2 py-1 focus:ring focus:ring-blue-300"
              >
            </div>
        {%- endcase -%}
      </div>
    </details>
  {%- endfor -%}

  <label class="flex cursor-pointer items-center gap-2 p-2">
    <input 
      type="radio" 
      name="sort_by" 
      value="price-ascending" 
      {% if collection.sort_by == 'price-ascending' %}checked{% endif %}
      class="h-4 w-4 accent-neutral-black"
    >
    <span>{{ 'products.sort.price_low_to_high' | t }}</span>
  </label>

  <div class="flex flex-col gap-4" style="margin-top: 3rem;">
    <button
      type="submit"
      class="flex w-full flex-row items-center justify-center bg-neutral-black p-2 text-white hover:bg-neutral-black/80"
    >
      {{ 'buttons.apply_selection' | t }}
    </button>
    <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="link-underline w-fit">
      {{- 'buttons.all_clear' | t -}}
    </a>
  </div>
</form>
{% endcapture %}

{% render 'drawer',
  button_text: filters_button_text,
  button_classes: '',
  title: filters_button_text,
  content: filters_drawer_content
%}
