<div x-data="{ openIndex: null }" class="divide-y divide-neutral-light-grey border border-neutral-light-grey">
  <!-- Section 1 : Description -->
  <div>
    <button
      type="button"
      class="flex w-full items-center justify-between p-4 text-left focus:outline-none"
      @click="openIndex === 0 ? openIndex = null : openIndex = 0"
    >
      <p class="font-medium">{{ 'products.accordions.descrition' | t }}</p>
      <span :class="openIndex === 0 ? 'rotate-180' : 'rotate-0'" class="transition-transform duration-300">
        {% render 'icon-accordion' %}
      </span>
    </button>

    <div
      x-ref="container0"
      class="grid transition-[grid-template-rows] duration-300 ease-in-out"
      :class="openIndex === 0 ? 'grid-rows-[1fr] pb-4' : 'grid-rows-[0fr]'"
      style="overflow: hidden;"
    >
      <div class="overflow-hidden px-4">{{ product.description }}</div>
    </div>
  </div>

  <!-- Section 2 : Entretien -->
  <div>
    <button
      type="button"
      class="flex w-full items-center justify-between p-4 text-left focus:outline-none"
      @click="openIndex === 1 ? openIndex = null : openIndex = 1"
    >
      <p class="font-medium">{{ 'products.accordions.cleaning' | t }}</p>
      <span :class="openIndex === 1 ? 'rotate-180' : 'rotate-0'" class="transition-transform duration-300">
        {% render 'icon-accordion' %}
      </span>
    </button>

    <div
      x-ref="container1"
      class="grid transition-[grid-template-rows] duration-300 ease-in-out"
      :class="openIndex === 1 ? 'grid-rows-[1fr] pb-4' : 'grid-rows-[0fr]'"
      style="overflow: hidden;"
    >
      <div class="overflow-hidden px-4">{{ product.metafields.custom.care | metafield_tag }}</div>
    </div>
  </div>

  <!-- Section 3 : Expédition -->
  <div>
    <button
      type="button"
      class="flex w-full items-center justify-between p-4 text-left focus:outline-none"
      @click="openIndex === 2 ? openIndex = null : openIndex = 2"
    >
      <p class="font-medium">{{ 'products.accordions.shipping' | t }}</p>
      <span :class="openIndex === 2 ? 'rotate-180' : 'rotate-0'" class="transition-transform duration-300">
        {% render 'icon-accordion' %}
      </span>
    </button>

    <div
      x-ref="container2"
      class="grid transition-[grid-template-rows] duration-300 ease-in-out"
      :class="openIndex === 2 ? 'grid-rows-[1fr] pb-4' : 'grid-rows-[0fr]'"
      style="overflow: hidden;"
    >
      <div class="overflow-hidden px-4">{{ product.metafields.custom.shipping | metafield_tag }}</div>
    </div>
  </div>
</div>
