<div
  class="relative block lg:hidden"
  x-data="
    {
      currentSlide: 0,
      touchStartX: 0,
      touchStartY: 0,
      touchMoveX: 0,
      touchMoveY: 0,
      initialDirection: null,
      touchThreshold: 10,

      handleTouchStart(e) {
        this.touchStartX = e.touches[0].clientX;
        this.touchStartY = e.touches[0].clientY;
        this.initialDirection = null;
      },

      handleTouchMove(e) {
        if (this.initialDirection === 'vertical') {
          return;
        }

        this.touchMoveX = e.touches[0].clientX;
        this.touchMoveY = e.touches[0].clientY;

        const diffX = Math.abs(this.touchStartX - this.touchMoveX);
        const diffY = Math.abs(this.touchStartY - this.touchMoveY);

        if (this.initialDirection === null && (diffX > this.touchThreshold || diffY > this.touchThreshold)) {
          this.initialDirection = diffX > diffY ? 'horizontal' : 'vertical';
        }

        if (this.initialDirection === 'horizontal') {
          e.preventDefault();
        }
      },

      handleTouchEnd(e) {
        if (this.initialDirection !== 'horizontal') return;

        const diff = this.touchStartX - this.touchMoveX;

        if (Math.abs(diff) > 50) {
          if (diff > 0) {
            this.currentSlide = Math.min(this.currentSlide + 1, {{ product.images.size | minus: 1 }});
          } else {
            this.currentSlide = Math.max(this.currentSlide - 1, 0);
          }
        }
      }
    }
  "
>
  <div
    class="relative touch-pan-x overflow-hidden"
    @touchstart="handleTouchStart"
    @touchmove="handleTouchMove"
    @touchend="handleTouchEnd"
  >
    <div
      class="flex transition-transform duration-300 ease-in-out"
      :style="'transform: translateX(-' + (currentSlide * 100) + '%)'"
    >
      {% for image in product.images %}
        <img
          class="h-full min-w-full rounded-sm bg-neutral-light-grey object-cover object-top"
          src="{{ image | image_url }}"
          alt="{{ image.alt | escape }}"
          width="100%"
          height="100%"
          {% if forloop.first %}
            loading="eager"
          {% else %}
            loading="lazy"
          {% endif %}
        >
      {% endfor %}
    </div>
  </div>

  <div class="absolute bottom-4 left-1/2 flex -translate-x-1/2 gap-2">
    {% for image in product.images %}
      <button
        @click="currentSlide = {{ forloop.index0 }}"
        class="h-[2px] w-8 transition-all"
        :class="currentSlide === {{ forloop.index0 }} ? 'bg-neutral-black' : 'bg-neutral-light-grey'"
      ></button>
    {% endfor %}
  </div>
</div>
