{%- if paginate.pages > 1 -%}
  <nav class="mx-auto mt-12" role="navigation">
    <ol class="flex items-center space-x-2" role="menu">
      {%- if paginate.previous -%}
        <li role="presentation">
          <a
            href="{{ paginate.previous.url }}"
            role="menuitem"
            class="rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          >
            <span aria-hidden="true">&laquo;</span>
            Previous
          </a>
        </li>
      {%- else -%}
        <li
          class="rounded-md border border-gray-300 bg-gray-100 px-4 py-2 text-sm font-medium text-gray-500"
          role="presentation"
        >
          <span aria-hidden="true">&laquo;</span>
          Previous
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li role="presentation">
            <a
              href="{{ part.url }}"
              role="menuitem"
              class="rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            >
              {{ part.title }}
            </a>
          </li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li
              aria-current="page"
              class="rounded-md border border-indigo-600 bg-indigo-600 px-4 py-2 text-sm font-medium text-white"
              role="presentation"
            >
              {{ part.title }}
            </li>
          {%- else -%}
            <li
              class="rounded-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-500"
              role="presentation"
            >
              {{ part.title }}
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if paginate.next -%}
        <li role="presentation">
          <a
            href="{{ paginate.next.url }}"
            role="menuitem"
            class="rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          >
            Next
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {%- else -%}
        <li
          class="rounded-md border border-gray-300 bg-gray-100 px-4 py-2 text-sm font-medium text-gray-500"
          role="presentation"
        >
          Next
          <span aria-hidden="true">&raquo;</span>
        </li>
      {%- endif -%}
    </ol>
  </nav>
{%- endif -%}
