{% schema %}
{
  "name": "Contact form",
  "class": "w-full",
  "settings": [
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    }
  ]
}
{% endschema %}

<section class="flex h-screen w-full flex-col py-16 margin-px-1 lg:grid lg:grid-cols-[1fr_0.75fr]" id="contact-form">
  <article class="flex h-full w-full flex-col justify-center gap-8 bg-neutral-black text-white margin-px-1 lg:gap-16 lg:margin-px-4">
    <header class="flex flex-col gap-2">
      <h2 class="text-[32px] font-medium">{{ 'contact.title' | t }}</h2>
      <p>{{ 'contact.description' | t }}</p>
    </header>

    {% form 'contact', class: 'lg:max-w-[70%] flex flex-col gap-6' %}
      {{ form.errors | default_errors }}

      <div class="grid grid-cols-2 gap-1">
        <div class="flex flex-col gap-1">
          <label for="email">{{ 'contact.form.email' | t }}</label>
          <input
            type="email"
            name="contact[email]"
            id="email"
            class="w-full bg-white/20 px-2 py-3 placeholder:text-white/20"
            placeholder="contact@gmail.com"
          >
        </div>

        <div class="flex flex-col gap-1">
          <label for="name">{{ 'contact.form.name' | t }}</label>
          <input
            type="name"
            name="contact[name]"
            id="name"
            class="w-full bg-white/20 px-2 py-3 placeholder:text-white/20"
            placeholder="Sarah"
          >
        </div>
      </div>

      <div class="flex flex-col gap-1">
        <label for="message">{{ 'contact.form.message' | t }}</label>
        <textarea
          name="contact[body]"
          id="message"
          class="w-full bg-white/20 px-2 py-3 placeholder:text-white/20"
          rows="8"
          placeholder="J'aimerais une tenue de mariage dans le thème de..."
        ></textarea>
      </div>

      <button
        type="submit"
        class="w-full max-w-[300px] bg-white py-3 text-center text-neutral-black hover:opacity-80"
      >
        {{ 'contact.form.send' | t }}
      </button>
    {% endform %}
  </article>

  <img
    class="hidden h-full w-full bg-neutral-black/40 object-cover lg:block"
    src="{{ section.settings.image | image_url }}"
    alt=""
    width="100%"
    height="100%"
  >
</section>
