{% schema %}
{
  "name": "Valeurs de la boutique",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Titre de la section",
      "default": "Nos valeurs"
    }
  ],
  "blocks": [
    {
      "type": "value_block",
      "name": "Bloc de valeur",
      "settings": [
        {
          "type": "image_picker",
          "id": "value_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "value_title",
          "label": "Titre de la valeur",
          "default": "Excellence"
        },
        {
          "type": "textarea",
          "id": "value_text",
          "label": "Texte de la valeur",
          "default": "Nous nous efforçons d'atteindre l'excellence dans tout ce que nous faisons."
        }
      ]
    }
  ]
}
{% endschema %}

<section class="flex w-full flex-col items-center justify-center gap-10 py-16 margin-px-1">
  <h2 class="text-[16px] font-semibold">
    {{ section.settings.section_title }}
  </h2>

  <article class="mx-auto grid grid-cols-1 gap-8 text-center lg:w-[90%] lg:grid-cols-3 lg:gutter-gap-1">
    {% for block in section.blocks %}
      <div class="grid grid-cols-1 gap-6">
        <div class="aspect-square h-full max-h-[600px] w-full overflow-hidden">
          <img
            src="{{ block.settings.value_image | image_url }}"
            alt="{{ block.settings.value_title }}"
            class="h-full w-full rounded-sm object-cover"
            width="100%"
            height="100%"
          >
        </div>

        <h3 class="font-medium">
          {{ block.settings.value_title }}
        </h3>
        <p class="text-neutral-mid-grey">
          {{ block.settings.value_text }}
        </p>
      </div>
    {% endfor %}
  </article>
</section>
